$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?d3ee890e4dc397a043fd73ff1d4e163d") format("truetype"),
url("./flaticon.woff?d3ee890e4dc397a043fd73ff1d4e163d") format("woff"),
url("./flaticon.woff2?d3ee890e4dc397a043fd73ff1d4e163d") format("woff2"),
url("./flaticon.eot?d3ee890e4dc397a043fd73ff1d4e163d#iefix") format("embedded-opentype"),
url("./flaticon.svg?d3ee890e4dc397a043fd73ff1d4e163d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "cancel": "\f101",
    "search": "\f102",
    "user": "\f103",
);

.flaticon-cancel:before {
    content: map-get($flaticon-map, "cancel");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
